:root {
  --white-color: #dce1de;
  --white-pure: white;
  --sidebar-background: #2892e9;

  --color9: lightblue;
  --gray-background: gray;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* CODE FROM HERE */

#container {
  background-color: var(--white-color);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 50px 80px repeat(6, 1fr);
  height: 100vh;
}

#dashboard-icon {
  display: grid;
}

#upper-panels {
  background-color: var(--white-pure);
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-column: 1 / 9;
  grid-row: 1 / 3;
}

#upper-panel-1 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

#upper-panel-2 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

#search-icon {
  grid-column: 2/3;
}

#sideline {
  background-color: var(--sidebar-background);
  display: grid;
  grid-column: 1;
  grid-row: 1 / 9;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 1fr);
}

#sections {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-row: 2 / 8;
  display: grid;
  justify-content: center;
}

#section1 {
  display: grid;
  grid-row: 1 / 5;
  gap: 20px;
}

#section2 {
  display: grid;
  grid-row: 6 / 8;
  gap: 20px;
}

#home,
#profile,
#message,
#history,
#tasks,
#communities,
#settings,
#support,
#privacy {
  display: flex;
  align-items: center;
  color: white;
  font-weight: 700;
}

#home > svg,
#profile > svg,
#message > svg,
#history > svg,
#tasks > svg,
#communities > svg,
#settings > svg,
#support > svg,
#privacy > svg {
  height: 20px;
  width: auto;
  fill: white;
  margin-right: 10px;
}

#search-icon > svg {
  height: 20px;
  width: auto;
  fill: black;
}

#your-project {
  --project-padding: 25px;
  --project-border: 5px solid white;
  --project-left-border-style: 7px solid rgb(204, 195, 20);
  grid-row: 3 / 9;
  grid-column: 2 / 8;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px repeat(4, 1fr);
  gap: 15px;
  margin: 0 15px 0 15px;
}

#your-projects-title {
  grid-column: 1 / 3;
}

#your-project1 {
  background-color: var(--white-pure);
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  padding: var(--project-padding);
  border: var(--project-border);
  border-left: var(--project-left-border-style);
}

#your-project2 {
  background-color: var(--white-pure);
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: var(--project-padding);
  border: 5px solid white;
  padding: var(--project-padding);
  border: var(--project-border);
  border-left: var(--project-left-border-style);
}

#your-project3 {
  background-color: var(--white-pure);
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  padding: var(--project-padding);
  border: 5px solid white;
  padding: var(--project-padding);
  border: var(--project-border);
  border-left: var(--project-left-border-style);
}

#your-project4 {
  background-color: var(--white-pure);
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  padding: var(--project-padding);
  border: 5px solid white;
  padding: var(--project-padding);
  border: var(--project-border);
  border-left: var(--project-left-border-style);
}

#your-project5 {
  background-color: var(--white-pure);
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  padding: var(--project-padding);
  border: 5px solid white;
  padding: var(--project-padding);
  border: var(--project-border);
  border-left: var(--project-left-border-style);
}

#your-project6 {
  background-color: var(--white-pure);
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  padding: var(--project-padding);
  border: 5px solid white;
  padding: var(--project-padding);
  border: var(--project-border);
  border-left: var(--project-left-border-style);
}

#announcements {
  background-color: var(--white-pure);
  grid-column: 8 / 9;
  grid-row: 3 / 6;
}

#trending {
  margin-top: 25px;
  background-color: var(--white-pure);
  grid-row: 6 / 9;
}

#dashboard-icon,
#dashboard-icon > p {
  background-color: #5da9e9;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  align-items: center;
  color: var(--white-color);
  font-weight: 600;
}

#dashboard-svg {
  fill: var(--white-color);
  width: auto;
  height: 60px;
}
