:root {
  --white-color: #dce1de;
  --white-pure: white;
  --sidebar-background: #2892e9;

  --color9: lightblue;
  --gray-background: lab(86.77% 0.34 0.11);
  --button-blue: #2892e9;
  --gray-text: lab(59.79% 0 -0.01);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* CODE FROM HERE */

#container {
  background-color: var(--white-color);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 50px 100px repeat(6, 1fr);
  height: 100vh;
}

#dashboard-icon,
#dashboard-icon > p {
  background-color: #5da9e9;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  align-items: center;
  color: var(--white-color);
  font-weight: 600;
}

#dashboard-svg {
  fill: var(--white-color);
  width: auto;
  height: 60px;
}

#dashboard-icon {
  display: grid;
}

#upper-panels {
  background-color: var(--white-pure);
  display: grid;
  grid-column: 2 / 9;
  grid-row: 1 / 3;

  box-shadow: 0px 5px var(--gray-background);
}

#upper-panel-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

#upper-panel-2 {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#upper-panel-2-section-2 {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 58px;
  gap: 25px;
}

#new,
#upload,
#share {
  background-color: var(--button-blue);
  color: var(--white-pure);
  border: 5px solid var(--button-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 15px;
  width: 60px;
}

#search-icon {
  display: flex;
  align-items: center;
  grid-column: 1/2;
  gap: 10px;
}

#search-icon > svg,
#bell-icon > svg {
  height: 20px;
  width: auto;
  fill: black;
}

#profile-picture > svg {
  height: 30px;
  width: auto;
  fill: black;
}

#upper-panel-1-section-1 {
  display: flex;
  justify-content: start;
  align-items: center;
  grid-column: 1 / 2;
  margin-left: 75px;
}

#upper-panel-1-section-2 {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 75px;
  gap: 25px;
}

#search-icon > input {
  width: 800px;
  border: 2px solid var(--gray-background);
  border-radius: 10px;
  height: 20px;
  background-color: var(--gray-background);
}

#upper-panel-1-section-2 {
  grid-column: 2 / 3;
}

/* Section 2*/

#logo > svg {
  height: 50px;
  width: auto;
  fill: black;
}

#upper-panel-2-section-1 {
  display: flex;
  align-items: center;
  margin-left: 75px;
}

#initial-greeting {
  font-size: 0.8rem;
  font-weight: 700;
}
#name-greeting {
  font-size: 1.2rem;
  font-weight: 700;
}
/* SIDELINE */

#sideline {
  background-color: var(--sidebar-background);
  display: grid;
  grid-column: 1;
  grid-row: 1 / 9;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 1fr);
}

#sections {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-row: 2 / 8;
  display: grid;
  justify-content: center;
}

#section1 {
  display: grid;
  grid-row: 1 / 5;
  gap: 20px;
}

#section2 {
  display: grid;
  grid-row: 6 / 8;
  gap: 20px;
}

#home,
#profile,
#message,
#history,
#tasks,
#communities,
#settings,
#support,
#privacy {
  display: flex;
  align-items: center;
  color: white;
  font-weight: 700;
}

#home > svg,
#profile > svg,
#message > svg,
#history > svg,
#tasks > svg,
#communities > svg,
#settings > svg,
#support > svg,
#privacy > svg {
  height: 20px;
  width: auto;
  fill: white;
  margin-right: 10px;
}

/* Project section */

#your-project {
  --project-padding: 25px;
  --project-border: 5px solid white;
  --project-left-border-style: 7px solid rgb(204, 195, 20);
  grid-row: 3 / 9;
  grid-column: 2 / 8;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px repeat(4, 1fr);
  gap: 15px;
  margin: 0 15px 0 15px;
}

#your-projects-title {
  display: flex;
  align-items: end;
  font-weight: 700;
  font-size: 1.2rem;
}

#your-project1 {
  background-color: var(--white-pure);
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  border-left: var(--project-left-border-style);
  border-radius: 5px;
}

#your-project2 {
  background-color: var(--white-pure);
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  border-left: var(--project-left-border-style);
  border-radius: 5px;
}

#your-project3 {
  background-color: var(--white-pure);
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  border-left: var(--project-left-border-style);
  border-radius: 5px;
}

#your-project4 {
  background-color: var(--white-pure);
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  border-left: var(--project-left-border-style);
  border-radius: 5px;
}

#your-project5 {
  background-color: var(--white-pure);
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  border-left: var(--project-left-border-style);
  border-radius: 5px;
}

#your-project6 {
  background-color: var(--white-pure);
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  border-left: var(--project-left-border-style);
  border-radius: 5px;
}

#your-project1 > h3,
#your-project2 > h3,
#your-project3 > h3,
#your-project4 > h3,
#your-project5 > h3,
#your-project6 > h3 {
  padding: 10px;
  margin-top: 20px;
}

#your-project1 > p,
#your-project2 > p,
#your-project3 > p,
#your-project4 > p,
#your-project5 > p,
#your-project6 > p {
  padding: 10px;
  color: var(--gray-text);
}

#icons1 > svg,
#icons2 > svg,
#icons3 > svg,
#icons4 > svg,
#icons5 > svg,
#icons6 > svg {
  width: 30px;
  height: auto;
  fill: black;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-right: 15px;
}

#icons1,
#icons2,
#icons3,
#icons4,
#icons5,
#icons6 {
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 10px;
  margin-right: 10px;
}

/*Trending and announcements*/

#announcements {
  margin-top: 30px;
  grid-column: 8 / 9;
  grid-row: 3 / 6;
  margin-bottom: 25px;
  margin-bottom: 50px;
}

#posts {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: var(--white-pure);
  border: 2px solid var(--white-color);
  border-radius: 15px;
  padding: 20px;
  gap: 25px;
  margin-right: 15px;
}

#announcement-title {
  font-size: 1.3rem;
  background-color: var(--white-color);
  padding-bottom: 15px;
  font-weight: 700;
}

#maintanence-title,
#community-title,
#privacy-title {
  display: flex;
  font-weight: 700;
  font-size: 0.7rem;
}

#site-maintanence,
#community-share-day {
  border-bottom: 1px solid black;
}

#maintanence-text,
#community-text,
#privacy-text {
  font-size: 0.7rem;
}
/*trending*/
#trending {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: var(--white-pure);
  grid-row: 6 / 8;
}

#trending-title {
  font-size: 1.3rem;
  background-color: var(--white-color);
  padding-bottom: 15px;
  font-weight: 700;
}

#trending1,
#trending2,
#trending3,
#trending4 {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 25px;
  padding: 5px;
  gap: 20px;
  margin-top: 15px;
}

#trending1 > svg,
#trending2 > svg,
#trending3 > svg,
#trending4 > svg {
  height: 30px;
  width: auto;
  fill: black;
}

.username-catchphrase-container1,
.username-catchphrase-container2,
.username-catchphrase-container3,
.username-catchphrase-container4 {
  display: flex;
  flex-direction: column;
}

#username1,
#username2,
#username3,
#username4 {
  font-weight: 700;
}

#catch-phrase1,
#catch-phrase2,
#catch-phrase3,
#catch-phrase4 {
  display: flex;
  font-weight: 200;
}
